<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourteam.dzpt.mapper.BillMapper">

  <!--<resultMap id="BaseResultMap" type="com.ourteam.dzpt.entity.Bill" >-->
  <!--<result column="id" property="id" jdbcType="INTEGER" />-->
  <!--<result column="payer" property="payer" jdbcType="INTEGER" />-->
  <!--<result column="receiver" property="receiver" jdbcType="INTEGER" />-->
  <!--<result column="money" property="money" jdbcType="INTEGER" />-->
  <!--<result column="tradeWay" property="tradeWay" jdbcType="INTEGER" />-->
  <!--<result column="tradeType" property="tradeType" jdbcType="INTEGER" />-->
  <!--<result column="orderId" property="orderId" jdbcType="INTEGER" />-->
  <!--<result column="balance" property="balance" jdbcType="INTEGER" />-->
  <!--<result column="createDate" property="createDate" jdbcType="TIMESTAMP" />-->
  <!--</resultMap>-->

  <select id="selectBillByUid" resultType="com.ourteam.dzpt.entity.Bill"
    parameterType="integer">select * from bill where userId=#{uid}</select>

  <delete id="deleteById" parameterType="INTEGER">delete from bill where id=#{id}</delete>

  <insert id="createBill" parameterType="com.ourteam.dzpt.entity.Bill">
    insert into bill (userId,
      money, balance, drcrflg, tradeWay, tradeWayName,tradeType,
      tradeId,  createDate
      )
    values (#{userId,jdbcType=INTEGER},
      #{money,jdbcType=INTEGER}, #{balance,jdbcType=INTEGER}, #{drcrflg,jdbcType=TINYINT}, #{tradeWay}, #{tradeWayName,jdbcType=VARCHAR}, #{tradeType,jdbcType=INTEGER},
      #{tradeId,jdbcType=INTEGER}, #{createDate}
      )
    </insert>

  <update id="updateBill" parameterType="com.ourteam.dzpt.entity.Bill">
        update bill
        set userId = #{userId,jdbcType=INTEGER},
        balance = #{balance,jdbcType=INTEGER},
        drcrflg = #{drcrflg,jdbcType=TINYINT},
        money = #{money,jdbcType=INTEGER},
        tradeWay = #{tradeWay},
        tradeWayName = #{tradeWayName},
        tradeType = #{tradeType,jdbcType=INTEGER},
        tradeId = #{tradeId,jdbcType=INTEGER},
        createDate = #{createDate}
    </update>
</mapper>
