<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourteam.dzpt.mapper.DeliveryBillMapper">

  <select id="getDeliveryInfo" parameterType="integer"
    resultType="com.ourteam.dzpt.entity.DeliveryBill">
    select * from deliveryBill where tradeBillId=#{tradeBillId}
    </select>

  <update id="ifReceive" parameterType="integer">
        update deliveryBill set isReceive=1,status=2 where deliveryBill.id=(select deliveryBill.id from tradeBill,deliveryBill where tradeBill.listedGoodsId=#{listedGoodsId}
          and tradeBill.id=deliveryBill.tradeBillId)
    </update>

  <update id="ifDeliver" parameterType="integer">
        update deliveryBill set isDeliver=1,status=1 where deliveryBill.id=(select deliveryBill.id from tradeBill,deliveryBill where tradeBill.listedGoodsId=#{listedGoodsId}
          and tradeBill.id=deliveryBill.tradeBillId)
    </update>

  <update id="requireReturn" parameterType="com.ourteam.dzpt.entity.DeliveryBill">
        update deliveryBill set isReturn=ture,status=#{status} where tradeBillId=#{tradeBillId}
    </update>

  <update id="agreeReturn" parameterType="com.ourteam.dzpt.entity.DeliveryBill">
        update deliveryBill set isAgree=ture,status=#{status} where tradeBillId=#{tradeBillId}
    </update>

  <update id="confirmReturn" parameterType="com.ourteam.dzpt.entity.DeliveryBill">
        update deliveryBill set isConfirm=ture,status=#{status} where tradeBillId=#{tradeBillId}
    </update>

  <insert id="createDelivery">
    insert into deliveryBill set goodsName=#{goodsName},deliveryWay=#{deliveryWay},address=#{address},status=#{status},
      tradeBillId=#{tradeBillId},createDate=#{createDate}
  </insert>
</mapper>