<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourteam.dzpt.mapper.ListedGoodsMapper">

    <resultMap id="hangInfoMap" type="Map" >
        <result column="supplier" property="supplier" />
        <result column="id" property="listedGoodsId"/>
        <result column="goodsName" property="goodsName" />
        <result column="type" property="type" />
        <result column="amount" property="amount"/>
        <result column="unit" property="unit"/>
        <result column="price" property="price"/>
        <result column="region" property="region"/>
        <result column="quality" property="quality"/>
        <result column="address" property="address"/>
        <result column="createDate" property="createDate"/>
    </resultMap>

    <update id="changeHangInfo" parameterType="ListedGoods">
        update listedGoods set
        <trim suffix="" suffixOverrides=",">
            <if test="goodsName!=null and goodsName!=''">
                goodsName = #{goodsName},
            </if>
            <if test="type!=null and type!=''">
                 `type` = #{type},
            </if>
            <if test="amount>0">
                amount = #{amount},
            </if>
            <if test="unit!=null and unit!=''">
                unit = #{unit},
            </if>
            <if test="price>0">
                price = #{price},
            </if>
            <if test="region!=null and region!=''">
                region = #{region},
            </if>
            <if test="quality!=null and quality!=''">
                quality = #{quality},
            </if>
            <if test="ismatch != null">
                ismatch = ismatch,
            </if>
        </trim>
        where id=#{id}
    </update>

    <insert id="hangNow" parameterType="ListedGoods">
        insert into listedGoods set hangetype=#{hangetype},goodsName=#{goodsName},
        `type`=#{type},amount={#amount},unit=#{unit},price=#{price},region=#{region},
        quality=#{quality},ismatch=#{ismatch},supplier=#{supplier}
    </insert>

    <delete id="deleteHangGood" parameterType="integer">
        delete from listedGoods where id=#{listedGoodsId}
    </delete>

    <select id="getHangListByType" parameterType="integer" resultMap="hangInfoMap">
        select supplier,id,goodsName,type,amount,unit,price,region,quality,address,createDate
        from listedGoods where hangtype=#{hangtype}
    </select>
    <select id="getMyHangList" parameterType="integer" resultMap="hangInfoMap">
        select supplier,id,goodsName,type,amount,unit,price,region,quality,address,createDate
        from listedGoods where supplier=#{supplier}
    </select>

</mapper>