<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourteam.dzpt.mapper.ListedGoodsMapper">

    <resultMap id="hangInfoMap" type="Map" >
        <result column="supplier" property="supplier" />
        <result column="id" property="listedGoodsId"/>
        <result column="goodsName" property="goodsName" />
        <result column="type" property="type" />
        <result column="amount" property="amount"/>
        <result column="unit" property="unit"/>
        <result column="price" property="price"/>
        <result column="region" property="region"/>
        <result column="quality" property="quality"/>
        <result column="hangtype" property="hangType"/>
        <result column="createDate" property="createDate"/>
    </resultMap>

    <update id="changeHangInfo" parameterType="ListedGoods">
        update listedGoods set
        <trim suffix="" suffixOverrides=",">
            <if test="goodsName!=null and goodsName!=''">
                goodsName = #{goodsName},
            </if>
            <if test="type!=null and type!=''">
                 `type` = #{type},
            </if>
            <if test="amount>0">
                amount = #{amount},
            </if>
            <if test="unit!=null and unit!=''">
                unit = #{unit},
            </if>
            <if test="price>0">
                price = #{price},
            </if>
            <if test="region!=null and region!=''">
                region = #{region},
            </if>
            <if test="quality!=null and quality!=''">
                quality = #{quality},
            </if>
            <if test="ismatch != null">
                ismatch = #{ismatch},
            </if>
        </trim>
        where id=#{id}
    </update>

    <insert id="hangNow" parameterType="ListedGoods">
        insert into listedGoods set hangtype=#{hangType},goodsName=#{goodsName},
        `type`=#{type},amount=#{amount},unit=#{unit},price=#{price},region=#{region},
        quality=#{quality},ismatch=#{ismatch},supplier=#{supplier},createDate=#{createDate}
    </insert>

    <delete id="deleteHangGood" parameterType="integer">
        delete from listedGoods where id=#{listedGoodsId}
    </delete>

    <select id="getHangListByType" parameterType="String" resultMap="hangInfoMap">
        select supplier,listedGoods.id id,userName supplierName,goodsName,type,amount,unit,price,region,quality,listedGoods.createDate
        from listedGoods,user where hangtype=#{hangType} and supplier = user.id and status=0
    </select>
    <select id="getMyHangList" parameterType="integer" resultMap="hangInfoMap">
        select supplier,id,goodsName,type,amount,unit,price,region,quality,createDate,hangtype
        from listedGoods where supplier=#{supplier} and status = 0
    </select>
    <select id="searchSupplierById" parameterType="integer" resultType="integer">
        select supplier from listedGoods where id=#{id}
    </select>
    <select id="getListedGoodsInfo" parameterType="integer" resultType="ListedGoods">
        select * from listedGoods where id=#{id}
    </select>
    <select id="getListedGoodsInfoByMap" parameterType="integer" resultType="Map">
        select * from listedGoods where id=#{id}
    </select>
    <update id="changeStatus" parameterType="integer">
        update listedGoods set status=#{status} where id=#{id}
    </update>
</mapper>