<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourteam.dzpt.mapper.TradeBillMapper">

  <insert id="createTradeBill" parameterType="TradeBill">
        insert into tradeBill set buyer=#{buyer},seller=#{seller},status=#{status},createDate=#{createDate}, listedGoodsId
        =#{listedGoodsId}
    </insert>

  <select id="getTradeInfo" parameterType="integer" resultType="TradeBill">
        select * from tradeBill where id=#{id}
    </select>

  <select id="getTradeBill" resultType="TradeBill">
        select * from tradeBill where status = 4
    </select>

  <select id="getLastId" resultType="integer">
        select max(id) from tradeBill
    </select>

  <select id="getMyTrading" parameterType="integer" resultType="Map">
        select tradeBill.createDate, tradeBill.id, user1.userName buyerName, user2.userName sellerName, status, listedGoodsId
        from tradeBill,user user1,user user2 where (buyer=#{uid} or seller=#{uid}) and buyer = user1.id and seller = user2.id
    </select>

  <update id="cancelTradeBill" parameterType="integer">
        update tradeBill set status = -1 where id = #{id}
    </update>

  <update id="setTradeBillStatus" parameterType="integer">
        update tradeBill set status = #{status} where id = #{id}
    </update>

  <select id="countInNegotiateNum" parameterType="integer" resultType="integer">
        select count(*) from tradeBill where buyer=#{buyer} and listedGoodsId = #{listedGoodsId}
        and status = 0
    </select>

  <select id="getNowStatus" parameterType="integer" resultType="integer">
        select max(status) from tradeBill where listedGoodsId = #{listedGoodsId}
    </select>
</mapper>
