<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourteam.dzpt.mapper.UserMapper">

    <resultMap id="UserInfoMap" type="com.ourteam.dzpt.entity.User">
        <result column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email"/>
        <result column="companyName" property="companyName"/>
        <result column="address" property="address"/>
        <result column="createDate" property="createDate"/>
    </resultMap>

    <select id="selectAll" resultMap="UserInfoMap">select * from user </select>
    <select id="selectById" resultType="com.ourteam.dzpt.entity.User" parameterType="integer">select * from user where id = #{id}</select>
    <select id="selectByName" resultType="com.ourteam.dzpt.entity.User" parameterType="STRING">select * from user where userName = #{userName}</select>

    <delete id="delete" parameterType="INTEGER">delete from user where id=#{id}</delete>
    <update id="updateInfo" parameterType="com.ourteam.dzpt.entity.User">
        UPDATE user SET
        phone=#{phone},email=#{email},companyName=#{companyName},address=#{address}
        WHERE id=#{id}
    </update>
    <insert id="create" parameterType="com.ourteam.dzpt.entity.User">
        insert into user set userName=#{userName},password=#{password},phone=#{phone},email=#{email},companyName=#{companyName},address=#{address},createDate=#{createDate},admin=#{admin}
    </insert>
</mapper>